# 4. 파일 저장 및 열기
DataFrame 객체를 excel, csv 형태의 파일로 저장 및 열기
(txt의 형태 파일은 거의 사용하지 않기에 생략)

In [3]:
import pandas as pd


df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]},
    index=["Jan","Feb","Mar","Apr"])
df_temp.index.name="월"
df_temp

     temp_low  temp_mean  temp_high
월
Jan       -25        -20        -15
Feb       -15        -10         -5
Mar         5         10         15
Apr        15         20         25

## 저장하기
### csv 파일로 저장
csv 파일 - 쉼표로 나눠진 텍스트 형태의 파일이며 엑셀에서 부르면 표로 나눠서 나온다

In [4]:
df_temp.to_csv("temp.csv")

In [5]:
# 엑셀에서 확인해보면 깨진 것을 볼 수 있다. 이는 인코딩 문제
# option으로 해결
df_temp.to_csv("temp.csv",encoding="utf-8-sig")

In [7]:
# index 제거
df_temp.to_csv("temp.csv",encoding="utf-8-sig",index=False)

#### 귀찮은 과정을 생략하기 위해 한글을 포함하지 않도록 데이터 생성하고 진행

In [6]:
df_temp=pd.DataFrame({
    'temp_low' :[-25,-15,5,15],
    'temp_mean':[-20,-10,10,20],
    'temp_high':[-15,-5,15,25]},
    index=["Jan","Feb","Mar","Apr"])
df_temp.index.name="month"
df_temp

       temp_low  temp_mean  temp_high
month
Jan         -25        -20        -15
Feb         -15        -10         -5
Mar           5         10         15
Apr          15         20         25

### 엑셀 파일로 저장

In [10]:
df_temp.to_excel('temp.xlsx')

## 불러오기

In [12]:
df=pd.read_csv("temp.csv")
df

   temp_low  temp_mean  temp_high
0       -25        -20        -15
1       -15        -10         -5
2         5         10         15
3        15         20         25

In [14]:
df_2=pd.read_excel("temp.xlsx")

In [15]:
df_2

  month  temp_low  temp_mean  temp_high
0   Jan       -25        -20        -15
1   Feb       -15        -10         -5
2   Mar         5         10         15
3   Apr        15         20         25

In [16]:
# index가 원래대로 되도록
df_2=pd.read_excel("temp.xlsx",index_col="month")
df_2

       temp_low  temp_mean  temp_high
month
Jan         -25        -20        -15
Feb         -15        -10         -5
Mar           5         10         15
Apr          15         20         25

## 주소를 포함한 불러오기

In [17]:
data=pd.read_csv("C:/Users/sungb/ML 강의자료/Customer_Churn.csv")

In [18]:
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,8931-GJJIQ,Female,0,No,No,9,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,83.30,803.30,1
1,8808-ELEHO,Male,1,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,81.25,585.95,1
2,9253-QXKBE,Male,1,Yes,No,29,Yes,Yes,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,94.45,2653.65,1
3,5016-ETTFF,Male,0,No,No,10,No,No phone service,DSL,No,...,Yes,No,No,No,Month-to-month,No,Mailed check,29.50,255.25,1
4,1820-DJFPH,Female,0,Yes,Yes,72,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),24.05,1709.15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,2205-YMZZJ,Male,1,No,No,7,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.80,546.95,1
2239,3806-DXQOM,Female,0,No,No,4,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,33.65,137.85,1
2240,9796-BPKIW,Male,1,No,No,8,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),69.95,562.70,0
2241,1518-OMDIK,Male,0,Yes,No,33,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),44.55,1462.60,0
2242,1303-SRDOK,Female,0,Yes,Yes,55,Yes,No,Fiber optic,No,...,No,No,No,No,Two year,Yes,Credit card (automatic),69.05,3842.60,0