# 11. 그룹화
동일한 값을 가진 것들끼리 합쳐서 통계 또는 평균 등의 값을 계산하기 위해 사용

In [4]:
import pandas as pd
df=pd.read_csv("iris.csv")

In [5]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
...,...,...,...,...,...
145,5.3,3.7,1.5,0.2,0
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1
149,6.3,3.3,6.0,2.5,2

In [7]:
df.groupby("label")

In [9]:
# 특정 그룹만 가져옴
df.groupby("label").get_group(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,6.9,3.1,5.4,2.1,2
5,6.4,3.1,5.5,1.8,2
12,6.1,2.6,5.6,1.4,2
14,7.9,3.8,6.4,2.0,2
15,6.1,3.0,4.9,1.8,2
21,5.6,2.8,4.9,2.0,2
22,6.9,3.2,5.7,2.3,2
23,6.5,3.0,5.5,1.8,2
27,6.4,3.2,5.3,2.3,2
28,7.7,3.0,6.1,2.3,2
29,7.1,3.0,5.9,2.1,2
32,6.2,3.4,5.4,2.3,2
33,6.4,2.7,5.3,1.9,2
37,7.2,3.0,5.8,1.6,2
47,6.4,2.8,5.6,2.2,2
51,7.2,3.2,6.0,1.8,2
56,7.6,3.0,6.6,2.1,2
57,6.7,3.3,5.7,2.1,2
61,5.8,2.7,5.1,1.9,2
65,5.8,2.8,5.1,2.4,2
68,6.3,2.9,5.6,1.8,2
69,6.5,3.0,5.2,2.0,2
74,6.5,3.0,5.8,2.2,2
76,6.8,3.2,5.9,2.3,2
78,5.9,3.0,5.1,1.8,2
79,7.7,3.8,6.7,2.2,2
83,7.4,2.8,6.1,1.9,2
86,6.7,3.3,5.7,2.5,2
87,7.3,2.9,6.3,1.8,2
89,6.2,2.8,4.8,1.8,2
91,6.0,3.0,4.8,1.8,2
93,7.7,2.6,6.9,2.3,2
94,6.7,3.0,5.2,2.3,2
97,6.7,3.1,5.6,2.4,2
101,6.4,2.8,5.6,2.1,2
102,7.2,3.6,6.1,2.5,2
105,5.8,2.7,5.1,1.9,2
110,6.0,2.2,5.0,1.5,2
111,6.8,3.0,5.5,2.1,2
113,7.7,2.8,6.7,2.0,2
116,6.5,3.2,5.1,2.0,2
117,6.9,3.1,5.1,2.3,2
119,6.3,2.5,5.0,1.9,2
127,4.9,2.5,4.5,1.7,2
128,5.7,2.5,5.0,2.0,2
130,6.3,2.8,5.1,1.5,2
133,6.7,2.5,5.8,1.8,2
139,6.3,2.7,4.9,1.8,2
144,6.3,3.4,5.6,2.4,2
149,6.3,3.3,6.0,2.5,2

In [10]:
df.groupby("label").get_group(1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
1,6.7,3.1,4.4,1.4,1
2,5.7,3.0,4.2,1.2,1
3,5.9,3.0,4.2,1.5,1
4,6.3,2.5,4.9,1.5,1
10,5.7,2.9,4.2,1.3,1
11,5.1,2.5,3.0,1.1,1
16,5.6,3.0,4.1,1.3,1
30,5.0,2.3,3.3,1.0,1
34,5.4,3.0,4.5,1.5,1
35,6.4,2.9,4.3,1.3,1
36,5.7,2.8,4.1,1.3,1
38,6.0,3.4,4.5,1.6,1
39,5.6,2.5,3.9,1.1,1
40,6.1,2.9,4.7,1.4,1
43,6.0,2.9,4.5,1.5,1
44,5.8,2.7,4.1,1.0,1
49,6.7,3.0,5.0,1.7,1
52,6.9,3.1,4.9,1.5,1
53,6.0,2.7,5.1,1.6,1
54,5.8,2.6,4.0,1.2,1
58,6.6,2.9,4.6,1.3,1
59,5.7,2.8,4.5,1.3,1
60,5.9,3.2,4.8,1.8,1
62,6.1,3.0,4.6,1.4,1
72,5.0,2.0,3.5,1.0,1
75,6.8,2.8,4.8,1.4,1
77,5.5,2.3,4.0,1.3,1
80,5.6,2.7,4.2,1.3,1
81,6.7,3.1,4.7,1.5,1
84,5.6,3.0,4.5,1.5,1
90,6.4,3.2,4.5,1.5,1
92,5.2,2.7,3.9,1.4,1
100,6.2,2.2,4.5,1.5,1
106,6.1,2.8,4.7,1.2,1
109,4.9,2.4,3.3,1.0,1
112,5.6,2.9,3.6,1.3,1
114,6.3,3.3,4.7,1.6,1
115,5.5,2.5,4.0,1.3,1
121,6.3,2.3,4.4,1.3,1
122,6.0,2.2,4.0,1.0,1
132,6.6,3.0,4.4,1.4,1
134,5.5,2.4,3.7,1.0,1
135,5.5,2.4,3.8,1.1,1
136,5.5,2.6,4.4,1.2,1
137,6.1,2.8,4.0,1.3,1
138,6.5,2.8,4.6,1.5,1
142,7.0,3.2,4.7,1.4,1
146,5.8,2.7,3.9,1.2,1
147,5.7,2.6,3.5,1.0,1
148,6.2,2.9,4.3,1.3,1

In [12]:
df.groupby('label').mean() # 그룹에 따라 계산 가능한 데이터들의 평균값

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
label,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [14]:
df.groupby('label').size()  # 각 그룹의 크기 정보

label
0    50
1    50
2    50
dtype: int64

In [16]:
df.groupby('label').size()[0]  # 그룹화한 뒤에 0그룹의 size만 본다

50

In [17]:
df.groupby('label')['sepal length (cm)'].mean()   # label로 그룹화한 뒤에 특정 변수에 대해서만 값을 알고 싶음

label
0    5.006
1    5.936
2    6.588
Name: sepal length (cm), dtype: float64

In [19]:
df.groupby('label')[['sepal length (cm)','sepal width (cm)']].mean() # 그룹화한 뒤 다변수에 대해 정보 추출

       sepal length (cm)  sepal width (cm)
label
0                  5.006             3.428
1                  5.936             2.770
2                  6.588             2.974

### 두번의 그룹화

In [23]:
df['sepal']=df['sepal length (cm)'].round()  # 반올림
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,sepal
0,6.9,3.1,5.4,2.1,2,7.0
1,6.7,3.1,4.4,1.4,1,7.0
2,5.7,3.0,4.2,1.2,1,6.0
3,5.9,3.0,4.2,1.5,1,6.0
4,6.3,2.5,4.9,1.5,1,6.0
...,...,...,...,...,...,...
145,5.3,3.7,1.5,0.2,0,5.0
146,5.8,2.7,3.9,1.2,1,6.0
147,5.7,2.6,3.5,1.0,1,6.0
148,6.2,2.9,4.3,1.3,1,6.0
149,6.3,3.3,6.0,2.5,2,6.0

In [24]:
df['sepal'].unique()

array([7., 6., 5., 8., 4.])

In [26]:
df.groupby(['label','sepal']).mean() # label 별, sepal 별 그룹화 해서 평균을 보여줌

             sepal length (cm)  sepal width (cm)  petal length (cm)  \
label sepal
0     4.0             4.400000          2.880000           1.280000
      5.0             5.002500          3.427500           1.490000
      6.0             5.640000          3.980000           1.420000
1     5.0             5.100000          2.483333           3.583333
      6.0             5.894444          2.761111           4.277778
      7.0             6.750000          3.025000           4.687500
2     5.0             4.900000          2.500000           4.500000
      6.0             6.185185          2.885185           5.255556
      7.0             6.950000          3.081250           5.737500
      8.0             7.716667          3.166667           6.566667

             petal width (cm)
label sepal
0     4.0            0.200000
      5.0            0.250000
      6.0            0.260000
1     5.0            1.166667
      6.0            1.325000
      7.0            1.450000
2     5.0            1.700000
      6.0            1.955556
      7.0            2.118750
      8.0            2.150000

In [27]:
df.groupby(['sepal','label']).mean()

             sepal length (cm)  sepal width (cm)  petal length (cm)  \
sepal label
4.0   0               4.400000          2.880000           1.280000
5.0   0               5.002500          3.427500           1.490000
      1               5.100000          2.483333           3.583333
      2               4.900000          2.500000           4.500000
6.0   0               5.640000          3.980000           1.420000
      1               5.894444          2.761111           4.277778
      2               6.185185          2.885185           5.255556
7.0   1               6.750000          3.025000           4.687500
      2               6.950000          3.081250           5.737500
8.0   2               7.716667          3.166667           6.566667

             petal width (cm)
sepal label
4.0   0              0.200000
5.0   0              0.250000
      1              1.166667
      2              1.700000
6.0   0              0.260000
      1              1.325000
      2              1.955556
7.0   1              1.450000
      2              2.118750
8.0   2              2.150000

In [30]:
# label로 groupby를 하고 정렬 가능 
df.groupby('label').mean().sort_values('sepal width (cm)')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal
label,,,,,
1,5.936,2.770,4.260,1.326,6.04
2,6.588,2.974,5.552,2.026,6.54
0,5.006,3.428,1.462,0.246,5.00

In [32]:
# 합
df.groupby('label').sum()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal
label,,,,,
0,250.3,171.4,73.1,12.3,250.0
1,296.8,138.5,213.0,66.3,302.0
2,329.4,148.7,277.6,101.3,327.0

In [33]:
# 표준편차
df.groupby('label').std()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal
label,,,,,
0,0.352490,0.379064,0.173664,0.105386,0.451754
1,0.516171,0.313798,0.469911,0.197753,0.532993
2,0.635880,0.322497,0.551895,0.274650,0.734291

In [35]:
# count
df.groupby('label').count()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal
label,,,,,
0,50,50,50,50,50
1,50,50,50,50,50
2,50,50,50,50,50

In [38]:
# nunique
df.groupby('label').nunique()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal
label,,,,,
0,15,16,9,6,3
1,21,14,19,9,3
2,21,13,20,12,4

In [41]:
label=df.groupby('label')
label['sepal'].value_counts() # label로 그룹화 한뒤에 sepal의 수를 가져온것

label  sepal
0      5.0      40
       4.0       5
       6.0       5
1      6.0      36
       7.0       8
       5.0       6
2      6.0      27
       7.0      16
       8.0       6
       5.0       1
Name: sepal, dtype: int64